/* Structure */

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: aliceblue;
}

section {
  background-color: aquamarine;
  margin: 5px;
  padding: 20px;
}

div {
  text-align: center;
}

/* Text */

/* Images */

/* Different screensizes */

/* Other */
