/* Structure */

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: aliceblue;
}

section {
  border-radius: 10px;
  background-color: aquamarine;
  margin: 5px;
  padding: 20px;
  width: auto;
  height: auto;
}

/* Text */

div {
  text-align: center;
}

#profile {
  background-color: aqua;
}

/* Images */

/* Different screensizes */

@media screen and (max-width: 1000px) {
  .profile {
    grid-column: 1;
    grid-row: 1;
  }

  main {
    grid-column: 2;
    grid-row: 2 / span 2;
  }

  .sidebar {
    grid-column: 1;
    grid-row: 2;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    grid-column: 1;
    grid-row: 1;
  }

  .sidebar {
    grid-column: 1;
    grid-row: 2;
  }

  main {
    grid-column: 1;
    grid-row: 3;
  }
}

/* Other */
