/* Structure */

.container {
  display: grid;
  grid-template-columns: 25% 40% auto;
}

section {
  border-radius: 10px;
  background-color: aliceblue;
  margin: 15px;
  padding: 20px;
  width: auto;
  height: auto;
}

main {
  border-radius: 10px;
  background-color: aliceblue;
  margin: 15px;
  padding: 20px;
  width: auto;
  height: auto;
}

/* Text */

div {
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

/* Images */

/* Different screensizes */

@media screen and (max-width: 1000px) {
  .profile {
    grid-column: 1;
    grid-row: 1;
  }

  main {
    grid-column: 2;
    grid-row: 2 / span 2;
  }

  .sidebar {
    grid-column: 1;
    grid-row: 2;
  }

  .container {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: auto;
  }

  main {
    grid-column: 1;
    grid-row: 3;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    grid-column: 1;
    grid-row: 1;
  }

  .sidebar {
    grid-column: 1;
    grid-row: 2;
  }

  main {
    grid-column: 1;
    grid-row: 3;
  }
}

/* Other */
