@import "templatesass.scss";

/* Page header */
header {
  @extend %fullwidth;
}

/* Page title */
h1 {
  color: $primary-color;
}

/* Content of the page  */
main {
  @extend %fullwidth;
  display: flex;
  flex-wrap: wrap;

  .hublink {
    flex: 100%;

    &#anni {
      @include linkbutton(green);
    }

    &#patrick {
      @include linkbutton(blue);
    }

    &#roosa {
      @include linkbutton(yellow);
    }

    &#sumu {
      @include linkbutton(black);
    }
  }
}

/* Footer */
footer {
  @extend %fullwidth;
}

/* Bigger screens */
@media only screen and (min-width: 800px) {
  main .hublink {
    flex: 25%;
  }
}
