@use "switch";
@import "templatesass.scss";

/* Full width */
html {
  @extend %resetmargins;
}

/* Full width body */
body {
  @extend %resetmargins;
  background: linear-gradient($background, $secondary-background);
  transition: $transition-time;
  overflow: hidden;
}

/* Dark background color */
#darkbg {
  @extend %resetmargins;
  width: 100%;
  position: absolute;
  background: linear-gradient($darkcolor, $secondary-darkcolor);
  opacity: 0;
  z-index: -1;
  transition: $transition-time;

  /* Fade in the color */
  &.lightsoff {
    opacity: 1;
  }
}

/* Wrap the content inside a div */
.page-wrapper {
  position: absolute;
  inset: 0;
  display: grid;
  align-content: space-between;
  overflow: hidden;
  padding: 0 20px;
}

/* Page header */
header {
  @extend %fullwidth;
  overflow: hidden;
}

/* Page title */
h1 {
  color: $titlecolor;
  grid-column: 1/-1;
}

p {
  color: $textcolor;
}

/* Content of the page  */
main {
  @extend %fullwidth;
  display: grid;
  gap: 20px;

  a {
    color: $textcolor;
    text-decoration: none;
    font-family: system-ui;
    font-size: 14pt;
  }

  .hublink {
    padding: 20px;
    transition: $transition-time;
    border-radius: 0 20px 0 20px;

    p {
      opacity: 0.9;
    }

    &#anni {
      @include linkbutton($anni);
    }

    &#patrick {
      @include linkbutton($patrick);
    }

    &#roosa {
      @include linkbutton($roosa);
    }

    &#sumu {
      @include linkbutton($sumu);
    }

    &:hover {
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
      transform: translate(0, -5px);
    }
  }
}

/* Footer */
footer {
  @extend %fullwidth;
}

/* Bigger screen */
@media only screen and (min-width: 500px) {
  main {
    grid-template-columns: auto auto;
  }

  .hublink {
    border-radius: 0 20px 0 20px;
    &#patrick,
    &#roosa {
      border-radius: 20px 0 20px 0;
    }
  }
}

/* Even bigger screens */
@media only screen and (min-width: 800px) {
  main {
    grid-template-columns: auto auto auto auto;
  }

  .hublink {
    &#patrick,
    &#roosa {
      border-radius: 0 20px 0 20px;
    }
  }
}
