@use "switch";
@import "templatesass.scss";

/* Full width */
html {
  @extend %resetmargins;
}

/* Full width body */
body {
  @extend %resetmargins;
  display: grid;
  align-content: space-between;
  padding: 0 20px;
  overflow: hidden;
  background: linear-gradient($background, $secondary-background);
  transition: $transition-time;
}

/* Dark background color */
#darkbg {
  @extend %resetmargins;
  width: 100%;
  position: absolute;
  background: linear-gradient($darkcolor, $secondary-darkcolor);
  opacity: 0;
  z-index: -1;
  transition: $transition-time;

  /* Fade in the color */
  &.lightsoff {
    opacity: 1;
  }
}

/* Page header */
header {
  @extend %fullwidth;
}

/* Page title */
h1 {
  color: $titlecolor;
  grid-column: 1/-1;
}

/* Content of the page  */
main {
  @extend %fullwidth;
  display: grid;
  gap: 20px;

  .hublink {
    padding: 20px;
    a {
      color: $textcolor;
    }

    &#anni {
      @include linkbutton($anni);
    }

    &#patrick {
      @include linkbutton($patrick);
    }

    &#roosa {
      @include linkbutton($roosa);
    }

    &#sumu {
      @include linkbutton($sumu);
    }
  }
}

/* Footer */
footer {
  @extend %fullwidth;
}

/* Bigger screen */
@media only screen and (min-width: 500px) {
  main {
    grid-template-columns: auto auto;
  }
}

/* Even bigger screens */
@media only screen and (min-width: 800px) {
  main {
    grid-template-columns: auto auto auto auto;
  }
}
