/* Variables */
$background: var(--background);
$secondary-background: var(--secondary-background);
$darkcolor: var(--darkcolor);
$secondary-darkcolor: var(--secondary-darkcolor);
$anni: var(--anni);
$patrick: var(--patrick);
$roosa: var(--roosa);
$sumu: var(--sumu);
$titlecolor: var(--title);
$textcolor: var(--text);
$transition-time: var(--transition-time);

:root {
  --background: #dbfff9;
  --secondary-background: #9ca2ff;
  --darkcolor: #261fa6;
  --secondary-darkcolor: #090123;
  --anni: #f6f8f4;
  --patrick: #b75d69;
  --roosa: #f6e7d3;
  --sumu: #ffcf94;
  --text: #1f1c2e;
  --title: #2e2857;
  --transition-time: 0s;
}

[data-theme="dark"] {
  --text: #dddddd;
  --title: #aaaaaa;
  --anni: #1f1e1e;
  --patrick: #3d2833;
  --roosa: #574a3e;
  --sumu: #36151d;
}

/* Extends */
%fullwidth {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

%resetmargins {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* Mixins */
@mixin linkbutton($bgcolor: $primary-color) {
  background-color: $bgcolor;
}

/* SCSS */
