/* Variables */
$background: var(--background);
$textcolor: var(--text);
$primary-color: rgb(75, 75, 120);

:root {
  --background: #fff;
  --text: #a1a1a1;
}

[data-theme="dark"] {
  --background: #000;
  --text: #aaaaaa;
}

/* Extends */
%fullwidth {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

%resetmargins {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* Mixins */
@mixin linkbutton($bgcolor: $primary-color) {
  background-color: $bgcolor;
}

/* SCSS */
