/* Variables */
$primary-color: rgb(75, 75, 120);

/* Extends */
%fullwidth {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Mixins */
@mixin linkbutton($bgcolor: $primary-color) {
  background-color: $bgcolor;
}

/* SCSS */
