@use "theme";

$ham-height: 50px;
$nav-height: 100px;
$shrink-height: $ham-height + 10px;
$bar-height: 5px;
$header-shrink-time: 0.5s;

/* Fixed full width elements */
%fixedfullwidth {
  position: fixed;
  width: 100%;
}

/* header bar */
header {
  @extend %fixedfullwidth;
  @include theme.transition;
  height: $nav-height;
  top: 0;

  /* logo banner */
  #logo {
    background-color: theme.$primary-color;
    border-bottom: 1px solid theme.$secondary-color;
    width: 100%;
    height: 100%;

    /* text in logo banner */
    h1 {
      margin: 0;
      padding-left: 10px;
      line-height: $nav-height;
      transition: $header-shrink-time;
    }
  }

  /* header properties when the header is shrunk */
  &.shrink {
    height: $shrink-height;

    /* re-center hamburger position */
    #hamburger {
      top: -($shrink-height/2 + $ham-height/2);
    }

    /* adjust logo height */
    #logo h1 {
      line-height: $shrink-height;
    }

    #nav.active {
      top: $shrink-height;
    }
  }
}

/* navigation container */
#nav {
  @extend %fixedfullwidth;
  top: -100%;
  z-index: -1;
  transition: 0.5s;
  background-color: theme.$secondary-color;
  border-bottom: 1px solid theme.$primary-color;

  /* slide into view when active */
  &.active {
    top: $nav-height;
  }

  /* link list in navigation */
  ul {
    list-style-type: none;

    /* elements in navigation list */
    li {
      padding: 6px;

      /* links in navigation */
      a {
        @include theme.monospacetitle;
        font-weight: 400;
        color: theme.$accent;
        text-decoration: none;
        font-size: 1.2em;
      }

      a.active {
        font-weight: 700;
        color: theme.$secondary-accent;
      }
    }
  }
}

/* menu button */
#hamburger {
  width: $ham-height;
  height: $ham-height;
  position: relative;
  float: right;
  right: 15px;
  top: -($nav-height/2 + $ham-height/2);
  cursor: pointer;
  z-index: 1;
  transition: $header-shrink-time;

  /* all bars in the menu hamburger */
  .ham {
    width: 80%;
    height: $bar-height;
    background-color: theme.$accent;
    border-radius: 25%;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: -($bar-height / 2);
    transition: top 0.2s 0.15s, transform 0.2s, opacity 0.2s;
  }

  /* top bar */
  .bar-top {
    top: 25%;
  }

  /* bottom bar */
  .bar-bot {
    top: 75%;
  }
}

/* menu button when active */
#hamburger.active {
  /* reverse animation */
  .ham {
    transition: top 0.2s, transform 0.2s 0.15s, opacity 0.2s;
  }

  /* animate top bar */
  .bar-top {
    transform: rotate(-45deg);
    top: 50%;
  }

  /* animate middle bar */
  .bar-mid {
    opacity: 0%;
  }

  /* animate bottom bar */
  .bar-bot {
    transform: rotate(45deg);
    top: 50%;
  }
}
