@use "theme";

$ham-height: 50px;
$nav-height: $ham-height + 10px;
$bar-height: 5px;

/* Fixed full width elements */
%fixedfullwidth {
  position: fixed;
  width: 100%;
}

/* header bar */
header {
  @extend %fixedfullwidth;
  height: $nav-height;
  top: 0;
}

/* navigation container */
#nav {
  @extend %fixedfullwidth;
  top: -100%;
  transition: 0.3s;
  background-color: theme.$secondary-color;

  /* slide into view when active */
  &.active {
    top: 0;
  }

  /* link list in navigation */
  ul {
    list-style-type: none;
  }
}

/* menu button */
#hamburger {
  width: $ham-height;
  height: $ham-height;
  position: absolute;
  float: right;
  right: 15px;
  top: 5px;
  cursor: pointer;
  z-index: 1;

  /* all bars in the menu hamburger */
  .ham {
    width: 80%;
    height: $bar-height;
    background-color: theme.$accent;
    border-radius: 25%;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: -($bar-height / 2);
    transition: top 0.2s 0.3s, transform 0.2s, opacity 0.2s;
  }

  /* top bar */
  .bar-top {
    top: 25%;
  }

  /* bottom bar */
  .bar-bot {
    top: 75%;
  }
}

/* menu button when active */
#hamburger.active {
  /* reverse animation */
  .ham {
    transition: top 0.2s, transform 0.2s 0.3s, opacity 0.2s;
  }

  /* animate top bar */
  .bar-top {
    transform: rotate(-45deg);
    top: 50%;
  }

  /* animate middle bar */
  .bar-mid {
    opacity: 0%;
  }

  /* animate bottom bar */
  .bar-bot {
    transform: rotate(45deg);
    top: 50%;
  }
}
