@use "navigation";
@use "theme";

/* section base styles */
section {
  @include theme.transition;
  padding: 5px 20px;
  min-height: 80vh;
}

/* first section */
section:first-child {
  margin-top: navigation.$nav-height;
}

/* every other section */
section:nth-child(even) {
  background-color: theme.$secondary-color;
}

/* skillset column */
.skillset {
  /* no default list styles */
  ul {
    list-style: none;
  }

  /* short list */
  .short-list {
    /* list element */
    li {
      @include theme.normaltext;
      display: inline-block;

      /* add separator between list elements */
      &:not(:last-child)::after {
        content: "•";
        padding: 0 5px;
      }
    }
  }

  /* lists with custom bullet */
  .custom-bullet {
    padding-left: 5px;

    /* list element */
    li {
      background: url("../sumu/img/bullet-placeholder.png") no-repeat;
      padding-left: 30px;
      margin-top: 10px;

      /* titles in custom buller list */
      h3 {
        line-height: 30px;
        padding: 0;
        margin: 0;
      }

      /* remove margin and padding from text */
      p {
        padding: 0;
        margin: 0;
      }
    }
  }

  /* image in skillset column */
  img {
    width: 100%;
    max-width: 400px;
  }
}

/* container for showcasing projects */
.project-container {
  padding-bottom: 20px;

  /* container for the image */
  .img-container {
    padding: 10px;

    /* mixes the primary color with 50% transparency */
    background-color: color-mix(in srgb, theme.$primary-color, transparent 50%);

    /* image description */
    p {
      text-align: center;
      margin: 5px 0 0 0;
      font-size: 14px;
    }

    /* three screenshots side by side */
    &.mobile-screenshots {
      display: flex;
      flex-wrap: wrap;

      /* put three pictures side by side */
      picture {
        flex: 33%;
      }

      /* image description still takes the whole space */
      p {
        flex: 100%;
      }
    }
  }

  /* self portrait in skillset section */
  img {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}
