@use "navigation";
@use "theme";

section {
  padding: 5px 20px;
}

/* first section */
section:first-child {
  margin-top: navigation.$nav-height;
}

/* every other section */
section:nth-child(even) {
  background-color: theme.$secondary-color;
}

/* skillset column */
.skillset {
}
