@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&family=Courier+Prime:wght@400;700&display=swap");

/* scss variables */
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$text-color: var(--text-color);
$accent: var(--accent);
$secondary-accent: var(--secondary-accent);
$transition-time: var(--transition-time);
$themebutton-color: var(--themebutton-color);

@mixin transition {
  transition: $transition-time;
}

/* default colors */
:root {
  --primary-color: #fffcfa;
  --secondary-color: #f2ebe6;
  --text-color: #5f5c5b;
  --accent: #f59319;
  --secondary-accent: #cb4e3b;
  --transition-time: none;
  --themebutton-color: #cb4e3b;
}

/* dark theme variables */
[data-theme="dark"] {
  --primary-color: #262224;
  --secondary-color: #322d2f;
  --text-color: #fff;
  --accent: #cb4e3b;
  --secondary-accent: #f59319;
  --themebutton-color: #f59319;
}

/* default styles for titles */
@mixin monospacetitle {
  font-family: "Courier Prime", monospace;
  color: $secondary-accent;
  font-weight: 700;
}

/* default style for text */
@mixin normaltext {
  font-family: "Chakra Petch", sans-serif;
  color: $text-color;
  font-weight: 400;
}

/* theme button container */
#themebutton {
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
  transition: background-color 0.5s;
  cursor: pointer;
  width: 60px;
  height: 30px;
  background-color: color-mix(in srgb, $accent, transparent 70%);
  border-radius: 15px;
  border: inset 2px $primary-color;

  /* graphic in both sun and moon */
  #sun-moon {
    @include transition();
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  /* graphic in sun mode */
  &.moon #sun-moon {
    transform: translate(180%, 25%);
    background-color: $themebutton-color;
    outline: 4px dotted $themebutton-color;
    outline-offset: 2px;
  }

  /* graphic in moon mode */
  &:not(.moon) #sun-moon {
    outline: none;
    background-color: transparent;
    transform: translate(50%, 0%);
    box-shadow: -6px 5px 0 5px $themebutton-color;
  }
}
