/* light theme colors */
$dark-theme: false !default;
$primary-color: #ffffff !default;
$secondary-color: #efe5e5 !default;
$text-color: #5f5c5b !default;
$accent: #f59319;

/* dark theme colors */
@if $dark-theme {
  $primary-color: #1b1918;
  $secondary-color: #272423;
  $text-color: #e8e4e3;
}
