@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&family=Courier+Prime:wght@400;700&display=swap");

/* scss variables */
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$text-color: var(--text-color);
$accent: var(--accent);
$secondary-accent: var(--secondary-accent);
$transition-time: var(--transition-time);
$themebutton-color: var(--themebutton-color);

@mixin transition {
  transition: $transition-time;
}

/* default colors */
:root {
  --primary-color: #fffcfa;
  --secondary-color: #f2ebe6;
  --text-color: #5f5c5b;
  --accent: #f59319;
  --secondary-accent: #cb4e3b;
  --transition-time: none;
  --themebutton-color: #000;
}

/* dark theme variables */
[data-theme="dark"] {
  --primary-color: #262224;
  --secondary-color: #322d2f;
  --text-color: #fff;
  --accent: #cb4e3b;
  --secondary-accent: #f59319;
  --themebutton-color: #fff;
}

/* default styles for titles */
@mixin monospacetitle {
  font-family: "Courier Prime", monospace;
  color: $secondary-accent;
  font-weight: 700;
}

/* default style for text */
@mixin normaltext {
  font-family: "Chakra Petch", sans-serif;
  color: $text-color;
  font-weight: 400;
}

#themebutton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $themebutton-color;
  transition: $transition-time;
  cursor: pointer;
}
