@use "navigation";
@use "theme";
@use "sections";

/* smooth scrolling */
html {
  scroll-behavior: smooth !important;
}

/* default background color and reset margins */
body {
  @include theme.transition;
  background-color: theme.$primary-color;
  margin: 0;
  padding: 0;
}

/* default text */
p {
  @include theme.normaltext;
}

/* important text will be bolded */
p span {
  font-weight: 600;
}

/* indented text block */
.indent {
  padding-left: 30px;
}

/* link inside a paragraph */
p a {
  color: theme.$accent;
}

/* header title */
header h1,
header h1 a {
  @include theme.monospacetitle;
  font-size: 26pt;
  text-decoration: 2px underline theme.$accent;
}

/* other big titles */
main h1 {
  @include theme.monospacetitle;
  font-size: 22pt;
  letter-spacing: 0.05em;
  text-align: center;
}

/* medium titles */
h2 {
  @include theme.monospacetitle;
  color: theme.$accent;
}

/* smaller titles */
h3 {
  @include theme.monospacetitle;
}

/* anchors for sections */
.anchor {
  position: relative;
  top: -(navigation.$shrink-height);

  /* first section needs bigger anchor */
  &:first-of-type {
    top: -(navigation.$nav-height);
  }
}

/* icons in the same row as text */
.icon {
  float: left;
  padding-right: 10px;
}

/* default image style */
img {
  max-width: 100%;
}

/* self portrait size */
.self {
  aspect-ratio: 1/1;
  max-width: 500px;
  border-radius: 50%;
  overflow: hidden;

  /* move the image a bit more upwards */
  & img {
    margin-top: -7%;
  }
}

/* page footer */
footer {
  background-color: theme.$secondary-color;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
