@use "navigation";
@use "theme";
@use "sections";

/* smooth scrolling */
html {
  scroll-behavior: smooth !important;
}

/* default background color and reset margins */
body {
  @include theme.transition;
  background-color: theme.$primary-color;
  margin: 0;
  padding: 0;
}

p {
  @include theme.normaltext;
}

h1,
h2,
h3 {
  @include theme.monospacetitle;
}

/* anchors for sections */
.anchor {
  position: relative;
  top: -(navigation.$shrink-height);

  /* first section needs bigger anchor */
  &:first-of-type {
    top: -(navigation.$nav-height);
  }
}
