@use "navigation";
@use "theme";

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: theme.$primary-color;
  margin: 0;
  padding: 0;
}

p,
h1 {
  color: theme.$text-color;
}

main section:first-child {
  margin-top: navigation.$nav-height + 20px;
}

/* anchors for sections */
.anchor {
  position: relative;
  top: -(navigation.$shrink-height);

  /* first section needs bigger anchor */
  &:first-of-type {
    top: -(navigation.$nav-height);
  }
}
