$dark-theme: false !default;
$primary-color: #ffffff !default;
$text-color: #5f5c5b !default;
$accent: #f59319;

@if $dark-theme {
  $primary-color: #1b1918;
  $text-color: #e8e4e3;
}

body {
  background-color: $primary-color;
}

p,
h1 {
  color: $text-color;
}
