* {
  box-sizing: border-box;
}

header {
  background-color: bisque;
  text-align: center;
  padding: 50px;
}

section {
  padding: 20px;
  background-color: antiquewhite;
  align-items: center;
  height: 500px;
}

footer {
  background-color: crimson;
  text-align: center;
  padding: 10px;
  float: bottom;
}

@media only screen and (min-width: 768px) {
  section {
    margin: auto;
    width: 60%;
  }
}
