@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "box.scss";

#projects {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.project-box {
  position: relative;
  overflow: hidden;
  background-image: url("workitout.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  padding-bottom: 20px;
  margin-top: 5px;
  margin-bottom: 8px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px var(--darkbase-color);
  transition: all 0.2s ease-in-out;
  color: #ffe1d5;

  h3 {
    padding-bottom: 10px;
    font-size: 30px;
  }

  &:before {
    content: "";
    background-color: rgba(58, 29, 29, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
  }

  .box {
    padding: 10px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    position: relative;
    width: 70%;
  }
}

.project-box:hover {
  margin-bottom: 20px;
  padding-bottom: 40px;
  &::before {
    background-color: rgba(58, 29, 29, 0.3);
  }
}

//cock
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}
//bubble
.bubble {
  transition: all 0.2s ease-in-out;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  z-index: 1;
  margin-left: 27px;
  margin-top: 23px;
  opacity: 0;
}

.checkbox:hover + .bubble {
  background-color: var(--base-color);
  margin-left: 8px;
  margin-top: 4px;
  width: 61px;
  height: 61px;
  opacity: 1;
}

.checkbox:hover:checked + .bubble {
  background-color: var(--darkbase-color);
  transition: all 0.2s ease-in-out;
  margin-left: 8px;
  margin-top: 9px;
  width: 51px;
  height: 51px;
  opacity: 1;
}

.slider:hover + .bubble {
  background-color: var(--base-color);
  margin-left: 8px;
  margin-top: 4px;
  width: 61px;
  height: 61px;
  opacity: 1;
}

//nav bar
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px var(--almost-black-shadow);
  position: fixed;
  width: 100%;
  background: var(--darkbase-color);
  height: 70px;
  z-index: 12;
}

.menu-items li {
  list-style: none;
  margin-left: 20px;
}

.menu-items a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: var(--darker-red-color);
  transition: color 0.3s ease-in-out;
}

.navbar-container input[type="checkbox"],
.navbar-container .hamburger-lines {
  display: block;
}

.navbar-container {
  display: block;
  position: relative;
  height: 64px;
}

.navbar-container input[type="checkbox"] {
  position: absolute;
  display: block;
  height: 32px;
  width: 30px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.navbar-container .hamburger-lines {
  display: block;
  height: 23px;
  width: 35px;
  position: absolute;
  top: 22px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #b75d69;
}

.navbar-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 100px;
  background: var(--base-color);
  height: 100vh;
  max-width: 300px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  box-shadow: 5px 0px 20px 0px var(--almost-black-shadow);
}

.navbar .menu-items li {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

.navbar-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(35deg);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-35deg);
}
//--------------------------------------------
dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

//feather elements
.featherSun,
.featherMoon {
  color: #ffe1d5;
  height: auto;
  width: 21px;
  transition: all 0.4s;
  cursor: pointer;
  position: absolute;
  right: 33px;
  top: 6px;
  pointer-events: none;
}

.featherMoon {
  opacity: 0;
  right: 36px;
  top: 9px;
  height: auto;
  width: 15px;
}
//switch
.switch {
  position: relative;
  height: 100px;
  position: fixed;
  right: 20px;
  top: 15px;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #774c60;
  box-shadow: 0px 0px 7px 1px var(--almost-black-shadow);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  opacity: 0;
}

input:checked + .slider {
  + .switch .featherSun {
    right: 35px;
    top: 9px;
    height: auto;
    width: 15px;
    transform: translateX(26px) rotate(270deg);
    opacity: 0;
  }

  + .switch .featherMoon {
    right: 33px;
    top: 6px;
    transform: translateX(26px) rotate(270deg);
    height: auto;
    width: 21px;
    opacity: 1;
  }
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
//oval

.oval {
  background-color: var(--base-color);
  border-radius: 30px;
  transform: translate(4px, 2px);
  width: 50px;
  height: 30px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.oval.alt {
  opacity: 1;
  transform: translate(-12px, -13px);
  width: 85px;
  height: 61px;
}

@mixin sectionStyle {
  padding: 20px;
  align-items: center;

  h2 {
    margin-bottom: 20px;
    color: var(--text-color);
  }

  :not(h2, dt, img, li, em) {
    background-color: var(--lighter-red-color);
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 0px 5px 10px var(--darkbase-color);
    margin-top: 5px;
    margin-bottom: 8px;
    border-radius: 20px;
    dd {
      box-shadow: 0px 8px 10px var(--lighter-red-color-shadow);
    }

    dt:not(:first-of-type) {
      margin-top: 20px;
    }
    dt {
      font-size: 18px;
      font-weight: bold;
    }
    img {
      width: auto;
      height: 60px;
      padding-right: 20px;
    }
  }

  ul {
    padding-left: 30px;
    li {
      padding-top: 10px;
    }
    em {
      padding-left: 15px;
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 0.08s ease-in-out;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
}

.leftSection {
  @include sectionStyle;
}

header {
  background-color: var(--darkbase-color);
  color: var(--text-color2);
  text-align: center;
  padding: 50px;
  padding-top: 100px;
  border-radius: 0px 0px 15px 15px;
  img {
    padding-bottom: 20px;
    width: 150px;
    height: auto;
  }

  h3 {
    text-align: left;
  }
}

footer {
  background-color: var(--darkbase-color);
  color: var(--text-color2);
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  body > *:not(nav) {
    margin: auto;
    width: 60%;
  }

  #projects {
    margin: auto;
    width: 60%;
  }
}
