@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "box.scss";
@import "switch.scss";
@import "navbar.scss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@mixin sectionStyle {
  padding: 20px;
  align-items: center;

  h2 {
    padding-bottom: 10px;
    color: var(--text-color);
    font-size: 35px;
  }

  p {
    font-size: 17px;
  }

  :not(h2, dt, img, li, em) {
    background-color: var(--lighter-red-color);
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 0px 5px 10px var(--darkbase-color);
    margin-top: 5px;
    margin-bottom: 8px;
    border-radius: 20px;
    dd {
      box-shadow: 0px 8px 10px var(--lighter-red-color-shadow);
      font-size: 17px;
    }

    dt:not(:first-of-type) {
      margin-top: 16px;
    }
    dt {
      font-size: 18px;
      font-weight: bold;
    }
    img {
      width: auto;
      height: 60px;
      padding-right: 20px;
    }
  }

  ul {
    padding-left: 40px;
    li {
      padding-top: 10px;
      font-size: 18px;
    }
    em {
      padding-left: 15px;
    }
  }

  h2 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.leftSection:last-of-type {
  margin-bottom: 40px;
}

.leftSection:nth-child(even) {
  h2 {
    text-align: right;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 0.08s ease-in-out;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
}

.leftSection {
  @include sectionStyle;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--darkbase-color);
  color: var(--text-color2);
  text-align: center;
  padding: 20px;
  padding-top: 80px;
  border-radius: 0px 0px 15px 15px;
  img {
    width: 150px;
    height: auto;
    border-radius: 30px;
  }

  h1 {
    font-size: 45px;
    padding-bottom: 10px;
  }

  h3 {
    padding-top: 20px;
    text-align: left;
  }
}

footer {
  background-color: var(--darkbase-color);
  color: var(--text-color2);
  text-align: center;
  padding: 20px;
}
//tablet sizing
@media only screen and (min-width: 625px) {
  header {
    display: flex;
    flex-direction: row;
    padding-top: 120px;
    padding-bottom: 50px;
    text-align: center;
    position: relative;

    h1,
    h3 {
      padding-left: 220px;
      margin: auto;
    }
    h1 {
      font-size: 40px;
    }
    h3 {
      font-size: 20px;
    }

    img {
      width: 200px;
      height: auto;
      position: absolute;
      text-align: left;
      left: 22%;
      transform: translateX(-40%);
    }
  }

  body > *:not(nav, footer, header) {
    margin: auto;
    width: 70%;
  }

  #projects {
    margin: auto;
    width: 60%;

    h2 {
      padding-top: 40px;
      padding-bottom: 20px;
    }
  }

  .leftSection {
    h2 {
      padding-top: 10px;
      padding-bottom: 20px;
      font-size: 35px;
    }

    p {
      font-size: 20px;
    }

    dl {
      dt {
        font-size: 20px;
      }
      dd {
        font-size: 18px;
      }
    }
  }

  footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media only screen and (min-width: 985px) {
  body > *:not(nav, footer, header) {
    margin: auto;
    width: 60%;
  }

  header {
    width: 65%;
    margin: auto;
    padding-top: 150px;
  }

  #headerBG {
    position: absolute;
    background-color: var(--lighter-red-color);
    // box-shadow: 0px 0px 5px 5px var(--lighter-red-color);
    opacity: 50%;
    padding-bottom: 369px;
    width: 100%;
  }

  #projects {
    margin: auto;
    width: 60%;
  }
}
