.featherSun,
.featherMoon {
  color: #ffe1d5;
  height: auto;
  width: 21px;
  transition: all 0.4s;
  cursor: pointer;
  position: absolute;
  right: 33px;
  top: 6px;
  pointer-events: none;
}

.featherMoon {
  opacity: 0;
  right: 36px;
  top: 9px;
  height: auto;
  width: 15px;
}
//switch
.switch {
  position: relative;
  height: 100px;
  position: fixed;
  right: 20px;
  top: 15px;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #774c60;
  box-shadow: 0px 0px 7px 1px var(--almost-black-shadow);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  opacity: 0;
}

input:checked + .slider {
  + .switch .featherSun {
    right: 35px;
    top: 9px;
    height: auto;
    width: 15px;
    transform: translateX(26px) rotate(270deg);
    opacity: 0;
  }

  + .switch .featherMoon {
    right: 33px;
    top: 6px;
    transform: translateX(26px) rotate(270deg);
    height: auto;
    width: 21px;
    opacity: 1;
  }
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.oval {
  background-color: var(--base-color);
  border-radius: 30px;
  transform: translate(4px, 2px);
  width: 50px;
  height: 30px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.oval.alt {
  opacity: 1;
  transform: translate(-12px, -13px);
  width: 85px;
  height: 61px;
}
