@import "variables.scss";

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  color: white;
  --background: #060608;
  width: 100%;
  height: 100%;
  font-family: Arial;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: var(--background);
}
h1 {
  color: $primary-color;
}
h2 {
  color: $secondary-color;
}
p {
  padding: 6px;
  line-height: 1.65;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a {
    color: $primary-color;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
    //z-index: 1;
    //transform: translateZ(1px);
  }

  .hero__title {
    //
  }
}

img {
  height: 4rem;
  width: 4rem;
}

.container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

/* MEDIA QUERIES */

@media screen and (min-width: $tablet) {
}
@media screen and (min-width: $desktop) {
}
