@import "variables.scss";

* {
  box-sizing: border-box;
  margin: 0; /* Add margin: 0; to remove default margin */
  padding: 0; /* Add padding: 0; to remove default padding */
}

body {
  text-align: center;
  color: white;
  --background: #060608;
  width: 100%;
  height: 100%;
  font-family: Arial;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: var(--background);
}
h1 {
  color: $primary-color;
}
h2 {
  color: $secondary-color;
}
p {
  padding: 6px;
  line-height: 1.65;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a {
    color: $primary-color;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

img {
  height: 4rem;
  width: 4rem;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: opacity 0.5s;

  .hero_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    //object-fit: cover;
    z-index: 1;
    background-image: url("illustration1-.png");
    //transform: translateZ(1px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero_title {
    //position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
    text-align: center;
    transform: translateZ(-2px) scale(1.2);
  }
}

.container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

/* MEDIA QUERIES */

@media screen and (min-width: $tablet) {
}
@media screen and (min-width: $desktop) {
}
