// primary/secondary colors
$primary-color: #719eff;
$secondary-color: rgb(97, 104, 191);

// fonts
$font-family: Arial, sans-serif;

// breakpoints for media query
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

//hero styling
$hero-color: #FFF;
$hero-height: 100vh;
$hero-width: 100vw;
$hero-bg-mix: rgba(#29042f, 0.4); // hide with false