$base-color: #372549;
$darkbase-color: #1a1423;
$darker-red-color: #b75d69;
$lighter-red-color: #774c60;
$lighter-red-color-shadow: #2d1f26;
$text-color: #eacdc2;

dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@mixin sectionStyle {
  padding: 20px;
  align-items: center;

  h2 {
    margin-bottom: 20px;
  }

  :not(h2, dt, img) {
    background-color: $lighter-red-color;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 0px 5px 10px $darkbase-color;
    margin-top: 5px;
    margin-bottom: 8px;
    dd {
      box-shadow: 0px 8px 10px $lighter-red-color-shadow;
    }

    dt:not(:first-of-type) {
      margin-top: 20px;
    }
    dt {
      font-size: 18px;
      font-weight: bold;
    }
    img {
      width: auto;
      height: 60px;
      padding-right: 20px;
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: $base-color;
  color: $text-color;
}

.leftSection {
  @include sectionStyle;
}

nav {
  background-color: $darkbase-color;
  padding: 20px;
}

header {
  background-color: $darkbase-color;
  color: $darker-red-color;
  text-align: center;
  padding: 50px;
  padding-top: 20px;
  box-shadow: -1px 5px 4px rgb(8, 0, 22) inset;

  img {
    padding-bottom: 20px;
    width: 150px;
    height: auto;
  }

  h3 {
    text-align: left;
  }
}

footer {
  background-color: $darkbase-color;
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  section {
    margin: auto;
    width: 60%;
  }
}
