* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #372549;
}

header {
  background-color: bisque;
  text-align: center;
  padding: 50px;
}

section {
  padding: 20px;
  background-color: antiquewhite;
  align-items: center;
  height: 500px;
}

nav {
  background-color: #1a1423;
  padding: 20px;
}

footer {
  background-color: #1a1423;
  text-align: center;
  padding: 10px;
  float: bottom;
}

@media only screen and (min-width: 768px) {
  section {
    margin: auto;
    width: 60%;
  }
}
