* {
  box-sizing: border-box;
}

header {
  background-color: bisque;
  text-align: center;
  padding: 50px;
}

section {
  padding: 20px;
  background-color: antiquewhite;
  align-items: center;
  height: 500px;
}
