$base-color: #372549;
$darkbase-color: #1a1423;
$darker-red-color: #b75d69;
$lighter-red-color: #774c60;
$text-color: #eacdc2;

@mixin sectionStyle {
  padding: 20px;
  align-items: center;

  h2 {
    margin-bottom: 20px;
  }

  p {
    background-color: $lighter-red-color;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 0px 5px 10px $darkbase-color;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $base-color;
  color: $text-color;
}

.leftSection {
  @include sectionStyle;
}

nav {
  background-color: $darkbase-color;
  padding: 20px;
}

header {
  background-color: $darkbase-color;
  color: $darker-red-color;
  text-align: center;
  padding: 50px;
  box-shadow: -1px 5px 4px rgb(8, 0, 22) inset;
}

footer {
  background-color: $darkbase-color;
  text-align: center;
  padding: 10px;
  float: bottom;
}

@media only screen and (min-width: 768px) {
  section {
    margin: auto;
    width: 60%;
  }
}
