@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&family=Courier+Prime:wght@400;700&display=swap");
/* scss variables */
/* default colors */
:root {
  --primary-color: #fffcfa;
  --secondary-color: #f2ebe6;
  --text-color: #5f5c5b;
  --accent: #f59319;
  --secondary-accent: #cb4e3b;
  --transition-time: none;
  --themebutton-color: #cb4e3b;
}

/* dark theme variables */
[data-theme=dark] {
  --primary-color: #262224;
  --secondary-color: #322d2f;
  --text-color: #fff;
  --accent: #cb4e3b;
  --secondary-accent: #f59319;
  --themebutton-color: #f59319;
}

/* default styles for titles */
/* default style for text */
/* theme button container */
#themebutton {
  transition: background-color 0.5s;
  cursor: pointer;
  width: 60px;
  height: 30px;
  background-color: color-mix(in srgb, var(--accent), transparent 70%);
  border-radius: 15px;
  border: inset 2px var(--primary-color);
  /* graphic in both sun and moon */
  /* graphic in sun mode */
  /* graphic in moon mode */
}
#themebutton #sun-moon {
  transition: var(--transition-time);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
#themebutton.moon #sun-moon {
  transform: translate(180%, 25%);
  background-color: var(--themebutton-color);
  outline: 4px dotted var(--themebutton-color);
  outline-offset: 2px;
}
#themebutton:not(.moon) #sun-moon {
  outline: none;
  background-color: transparent;
  transform: translate(50%, 0%);
  box-shadow: -6px 5px 0 5px var(--themebutton-color);
}

/* Fixed full width elements */
#nav, header {
  position: fixed;
  width: 100%;
}

/* header bar */
header {
  transition: var(--transition-time);
  height: 100px;
  top: 0;
  /* logo banner */
  /* header properties when the header is shrunk */
}
header #logo {
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--secondary-color);
  width: 100%;
  height: 100%;
  /* text in logo banner */
}
header #logo h1 {
  margin: 0;
  padding-left: 10px;
  line-height: 100px;
  transition: 0.5s;
}
header.shrink {
  height: 60px;
  /* re-center hamburger position */
  /* adjust logo height */
}
header.shrink #hamburger {
  top: -55px;
}
header.shrink #logo h1 {
  line-height: 60px;
}
header.shrink #nav.active {
  top: 60px;
}

/* navigation container */
#nav {
  top: -100%;
  z-index: -1;
  transition: 0.5s;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--primary-color);
  /* slide into view when active */
  /* link list in navigation */
}
#nav.active {
  top: 100px;
}
#nav ul {
  list-style-type: none;
  /* elements in navigation list */
}
#nav ul li {
  padding: 6px;
  /* links in navigation */
}
#nav ul li a {
  font-family: "Courier Prime", monospace;
  color: var(--secondary-accent);
  font-weight: 700;
  font-weight: 400;
  color: var(--accent);
  text-decoration: none;
  font-size: 1.2em;
}
#nav ul li a.active {
  font-weight: 700;
  color: var(--secondary-accent);
}

/* menu button */
#hamburger {
  width: 50px;
  height: 50px;
  position: relative;
  float: right;
  right: 15px;
  top: -75px;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
  /* all bars in the menu hamburger */
  /* top bar */
  /* bottom bar */
}
#hamburger .ham {
  width: 80%;
  height: 5px;
  background-color: var(--accent);
  border-radius: 25%;
  position: absolute;
  top: 50%;
  left: 10%;
  margin-top: -2.5px;
  transition: top 0.2s 0.15s, transform 0.2s, opacity 0.2s;
}
#hamburger .bar-top {
  top: 25%;
}
#hamburger .bar-bot {
  top: 75%;
}

/* menu button when active */
#hamburger.active {
  /* reverse animation */
  /* animate top bar */
  /* animate middle bar */
  /* animate bottom bar */
}
#hamburger.active .ham {
  transition: top 0.2s, transform 0.2s 0.15s, opacity 0.2s;
}
#hamburger.active .bar-top {
  transform: rotate(-45deg);
  top: 50%;
}
#hamburger.active .bar-mid {
  opacity: 0%;
}
#hamburger.active .bar-bot {
  transform: rotate(45deg);
  top: 50%;
}

section {
  transition: var(--transition-time);
  padding: 5px 20px;
}

/* first section */
section:first-child {
  margin-top: 100px;
}

/* every other section */
section:nth-child(even) {
  background-color: var(--secondary-color);
}

/* skillset column */
.skillset {
  /* short list */
  /* lists with custom bullet */
}
.skillset ul {
  list-style: none;
}
.skillset .short-list {
  /* list element */
}
.skillset .short-list li {
  font-family: "Chakra Petch", sans-serif;
  color: var(--text-color);
  font-weight: 400;
  display: inline-block;
}
.skillset .short-list li:not(:last-child)::after {
  content: "•";
  padding: 0 5px;
}
.skillset .custom-bullet {
  padding-left: 5px;
}
.skillset .custom-bullet li {
  background: url("../sumu/img/bullet-placeholder.png") no-repeat;
  padding-left: 30px;
}
.skillset .custom-bullet li h3 {
  line-height: 30px;
  padding: 0;
  margin: 0;
}
.skillset .custom-bullet li p {
  padding: 0;
  margin: 0;
}

.project-container {
  padding-top: 10px;
}
.project-container .img-container {
  padding: 10px;
  background-color: color-mix(in srgb, var(--primary-color), transparent 50%);
}
.project-container .img-container p {
  text-align: center;
  margin: 5px 0 0 0;
  font-size: 14px;
}
.project-container img {
  width: 100%;
  margin: auto;
  text-align: center;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth !important;
}

/* default background color and reset margins */
body {
  transition: var(--transition-time);
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}

p {
  font-family: "Chakra Petch", sans-serif;
  color: var(--text-color);
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "Courier Prime", monospace;
  color: var(--secondary-accent);
  font-weight: 700;
}

/* anchors for sections */
.anchor {
  position: relative;
  top: -60px;
  /* first section needs bigger anchor */
}
.anchor:first-of-type {
  top: -100px;
}/*# sourceMappingURL=sumumain.css.map */